<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase html</title>
    <link href="{{config.ASSETS_ROOT}}/css/style.css" rel="stylesheet">
</head>
<body>
<nav>
    <a href="/"> Main</a>
    <a href="/page1.html"> Pag 1</a>
</nav>
<center> <h1 >Titulo</h1> </center>
<h2> Esta frase esa escrita con h2</h2>
<h3> Esta frase esa escrita con h3</h3>
<h4> Esta frase esa escrita con h4</h4>
<h5> Esta frase esa escrita con h5</h5>
<h6> Esta frase esa escrita con h6</h6>
<p style="background-color:rgb(236, 240, 5)"> La vida es un viaje repleto de oportunidades y desafíos, y cada decisión 
    que tomamos nos lleva a nuevos lugares. A veces, elegimos el camino más
    difícil y nos enfrentamos a nuevos retos que nos ayudan a crecer como personas.
    A veces, tomamos decisiones que nos llevan a nuevas aventuras y nos permiten explorar 
    el mundo de maneras inesperadas. En cualquier caso, nos enfrentamos a los obstáculos que 
    se nos presentan con valentía y determinación. La vida nos ofrece un sinfín de experiencias 
    que nos permiten aprender, crecer y desarrollarnos como seres humanos.
</p>
<p class="tituloname">
    La tecnología evoluciona rápidamente cada día, y es fundamental para el éxito de una empresa moderna.
    Todas las organizaciones necesitan una solución tecnológica que les ayude a optimizar los procesos, 
    mejorar la eficiencia y aumentar las ventas. </br> 
    Esto es especialmente cierto para las empresas de hoy que se enfrentan a un entorno cada vez más competitivo y global.
    La tecnología puede proporcionar una mejora significativa en la productividad, la calidad y la rentabilidad, 
    lo que permite a las empresas mejorar su desempeño y competitividad.
</p>
<div>
    La tecnología evoluciona rápidamente cada día, y es fundamental para el éxito de una empresa moderna.
    Todas las organizaciones necesitan una solución tecnológica que les ayude a optimizar los procesos, 
    mejorar la eficiencia y aumentar las ventas.
    Esto es especialmente cierto para las empresas de hoy que se enfrentan a un entorno cada vez más competitivo y global.
    La tecnología puede proporcionar una mejora significativa en la productividad, la calidad y la rentabilidad, 
    lo que permite a las empresas mejorar su desempeño y competitividad.
</div>
</br>
<table>
    <thead>
      <tr>
        <th>Jose</th>
        <th>Anderson</th>
        <th>Kerin</th>
        <th>Carlos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>22 años</td>
        <td>25 años</td>
        <td>19 años</td>
        <td>23 años</td>
      </tr>
      <tr>
        <td>Física</td>
        <td>Física</td>
        <td>Física</td>
        <td>Física</td>
      </tr>
      <tr>
        <td>H</td>
        <td>H</td>
        <td>H</td>
        <td>H</td>
      </tr>
    </tbody>
    </table>

<center>
    <img src="{{config.ASSETS_ROOT}}/img/callofduty.jpg" width="400" height="225"/> 
</center>
<center>
    <iframe width="640" height="480" src="https://www.youtube.com/embed/VfEvH4aML-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</center>
<center>
<video width="640" height="480" controls>
    <source src="{{config.ASSETS_ROOT}}/video/video.mp4" type="video/mp4">
</video>
</center>

</body>
</html> 
